<div class="submenu-categories">
    <a class="submenu-categories__return">

        {{> arrow }}

        Вернуться к выбору категории
    </a>

    <h4 class="submenu-categories__title">
        Декор для дома
    </h4>

    <ul class="submenu-categories__list">
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Антик
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Ключницы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подарочные коробки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Скульптуры и статуэтки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Ароматические средства
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Мелочь для дома
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подвесы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Текстиль
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Вазы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Музыкальные игрушки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подсвечники
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Хобби и професии
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Венки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Настенный декор
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подставки для украшений
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Церковная тематика
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Декоративная мебель
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Открытки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подставки для книг
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Часы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Декоративные цветы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Пакеты
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Посуда
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Чаши под шампанское
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Картины
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Пепельницы
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Рамки для фото
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Шкатулки и копилки
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Кашпо и декоративные корзины
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Подарки к крестинам
            </a>
        </li>
        <li class="submenu-categories__item">
            <a class="submenu-categories__link" href="#">
                Свечи
            </a>
        </li>
    </ul>
</div>