<div class="main-submenu">
    <ul class="main-submenu__list">
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Антик
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Ключницы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подарочные коробки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Скульптуры и статуэтки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Ароматические средства
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Мелочь для дома
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подвесы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Текстиль
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Вазы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Музыкальные игрушки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подсвечники
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Хобби и професии
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Венки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Настенный декор
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подставки для украшений
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Церковная тематика
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Декоративная мебель
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Открытки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подставки для книг
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Часы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Декоративные цветы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Пакеты
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Посуда
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Чаши под шампанское
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Картины
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Пепельницы
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Рамки для фото
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Шкатулки и копилки
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Кашпо и декоративные корзины
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Подарки к крестинам
            </a>
        </li>
        <li class="main-submenu__item">
            <a class="main-submenu__link" href="#">
                Свечи
            </a>
        </li>
    </ul>
</div>

<!--
<ul class="main-submenu">
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Антик
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Ароматические средства
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Вазы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Венки
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Декоративная мебель
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Декоративные цветы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Картины
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Кашпо и декоративные корзины
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Ключницы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Мелоч для дома
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Музыкальные игрушки
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Настенный декор
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Открытки
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Пакеты
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Пепельницы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подарки к крестинам
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подарочные коробки
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подвесы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подсвечники
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подставки для украшений
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Подставки под книги
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Посуда
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Рамки для фото
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Свечи
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Скульптуры и статуэтки
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Текстиль
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Хобби и професии
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Церковная тематика
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Часы
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Чаши под шампанское
        </a>
    </li>
    <li class="main-submenu__item">
        <a class="main-submenu__link" href="#">
            Шкатулки и копилки
        </a>
    </li>
</ul>-->
