.footer {
    border-top: $border;

    position: relative;

    &:before, &:after {
        content: '';

        width: 100%;
        border-top: $border;

        position: absolute;
        top: 50%;
    }
    &:after {
        display: none;
    }

    & .logo {
        display: block;
        border-right: $border;

        padding: 25px 0;
        margin-right: 40px;

        @media (min-width: 992px) and (max-width: 1200px) {
            padding-right: 39px;
        }
    }

    & .copyright {
        height: 100%;
        border-right: $border;

        font-size: 12px;
        line-height: 20px;
        color: $dark-gray;

        padding: 37px 0;
        margin-right: 40px;
    }

    @media (max-width: 992px) {
        &:before {
            top: 76px;
        }

        &:after {
            display: block;

            top: 190px;
        }

        & .logo {
            margin-right: 0;
        }

        & .copyright {
            border: none;

            text-align: center;

            margin-right: 0;
            padding: 0;

            & br {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        &:before,
        &:after {
            display: none;
        }

        & .logo {
            text-align: center;

            margin-right: -15px;
            padding-right: 15px;
        }

        & .copyright {


            & br {
                display: block;
            }
        }
    }

    @media (max-width: 576px) {
        & .logo {

            & img {
                width: 103px;
            }
        }

        & .copyright {
            font-size: 10px;
        }
    }
}