<div class="product-item">
    <div class="product-item__img">
        <img src="assets/img/products/jar-for-sweets-house.png">
    </div>

    <div class="product-item__wrap">
        <div class="product-item__category small-txt">
            <a href="#">Скульптуры и статуэтки</a>
        </div>
        <h3 class="product-item__title">
            <a href="#">Банка для сладостей - домик</a>
        </h3>
        <div class="product-item__price">
            1 349 грн.
        </div>
    </div>

    <a class="product-item__basket" href="#">
        <svg class="basket-icon">
            <use xlink:href="#basket"></use>
        </svg>

        <span class="product-item__prompt">
            Добавить в корзину
        </span>
    </a>

    <a class="product-item__buy" href="#">
        <svg class="buy-icon">
            <use xlink:href="#buy"></use>
        </svg>

        <span class="product-item__prompt">
            Купить в 1 клик
        </span>
    </a>
</div>