<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4 col-lg-3 order-2 order-md-1 order-lg-0">
                <a class="logo" href="/">
                    <img src="assets/img/logo.png" alt="logo">
                </a>
            </div>

            <div class="col-12 col-lg-9 order-1 order-md-0">
                <nav class="footer-menu">
                    <a class="footer-menu__link" href="#">О нас</a>
                    <a class="footer-menu__link" href="#">Доставка и оплата</a>
                    <a class="footer-menu__link" href="#">Блог</a>
                    <a class="footer-menu__link" href="#">Отзывы</a>
                    <a class="footer-menu__link" href="#">Оферта</a>
                    <a class="footer-menu__link" href="#">Политика конфиденциальности</a>
                    <a class="footer-menu__link" href="#">Контакты</a>
                </nav>
            </div>

            <div class="col-6 col-md-8 col-lg-3 order-3 order-md-2 order-lg-0">
                <div class="copyright">
                    Pansky Shop © 2020.<br>
                    Все права защищены!
                </div>
            </div>

            <div class="col-lg-9">
                <div class="footer-contacts">
                    <div class="footer-contacts__item">
                        <div class="footer-contacts__icon">
                            <svg class="footer-contacts__phone">
                                <use xlink:href="#phone"></use>
                            </svg>
                        </div>
                        <div class="footer-contacts__content">
                            <div class="footer-contacts__title">Телефон:</div>
                            <div class="footer-contacts__txt">073 29 29 229</div>
                        </div>
                    </div>

                    <div class="footer-contacts__item">
                        <div class="footer-contacts__icon">
                            <svg class="footer-contacts__gps">
                                <use xlink:href="#gps"></use>
                            </svg>
                        </div>
                        <div class="footer-contacts__content">
                            <div class="footer-contacts__title">Адрес:</div>
                            <div class="footer-contacts__txt">
                                ул. Братьев Рогатинцев 18
                                м. Львов, Украина
                            </div>
                        </div>
                    </div>

                    <div class="footer-contacts__item">
                        <div class="footer-contacts__icon">
                            <svg class="footer-contacts__email">
                                <use xlink:href="#email"></use>
                            </svg>
                        </div>
                        <div class="footer-contacts__content">
                            <div class="footer-contacts__title">E-mail:</div>
                            <div class="footer-contacts__txt">panskyshop2019@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>