<section class="intro">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="/">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">{{ category }}</a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__current">{{ title }}</span>
            </li>
        </ul>

        <h1 class="intro-title">
            {{ title }}
        </h1>
    </div>
</section>