<section class="mailing">
    <div class="container">
        <h4 class="section-subtitle">E-mail рассылка</h4>
        <h2 class="section-title">Подписаться на рассылку</h2>

        <div class="mailing-prompt small-txt">
            Хочешь получить информацию о скидках, акциях и новинках? Подпишись на рассылку
            ниже и будь в курсе лучших цен на товары!
        </div>

        <form class="mailing-form">
            <input class="mailing-form__input" type="email" placeholder="Введите ваш e-mail адрес">

            <button class="mailing-form__btn btn btn_red" type="submit">
                Подписаться

                {{> arrow }}

            </button>
        </form>
    </div>
</section>