<div class="articles-slides__item">
    <div class="articles-slides__img">
        <img src="assets/img/articles/european-tree.jpg">
    </div>

    <div class="articles-slides__content">
        <h3 class="articles-slides__title">
            Трендовая европейская елка
        </h3>

        <p class="small-txt articles-slides__txt">
            Именно Елка, оформлена в европейском стиле сейчас в тренде, которая выглядит довольно элегантно, изысканно и много.  Главное правило в процессе украшения новогодней елки...
        </p>

        <a class="articles-slides__link" href="#">
            Подробнее
        </a>
    </div>
</div>