<div class="articles-slides__item">
    <div class="articles-slides__img">
        <img src="assets/img/articles/year-rat.jpg">
    </div>

    <div class="articles-slides__content">
        <h3 class="articles-slides__title">
            2020 год белой крысы
        </h3>

        <p class="small-txt articles-slides__txt">
            2020 открывает двенадцатилетний цикл восточного календаря.  Именно крыса первым предстала перед Буддой и  имела честь открывать календарь.  На Востоке крыса является символом...
        </p>

        <a class="articles-slides__link" href="#">
            Подробнее
        </a>
    </div>
</div>