/* Colors */
$black: #2B2A29;
$white: #fff;
$gray: #878787;
$dark-gray: #7A7A7A;
$light-gray: #E4E4E4;
$smoky-white: #F9F9F9;
$red: #EE3333;
$yellow: #ECB929;

/* shadow */
$shadow: 0px 0px 15px rgba(215, 215, 215, 0.5);
$menu-shadow: 0px 4px 20px #D7D7D7;

/* border */
$border: 1px solid $light-gray;